.gradle
build/
.localappdata-*/
/outputs/
/release/
/injectable/build/
/injectable/dist/
/injectable/tools/
!/injectable/tools/
/injectable/tools/*
!/injectable/tools/deps/
/injectable/tools/deps/*
!/injectable/tools/deps/proguard-base-7.8.1.jar
!/injectable/tools/deps/proguard-core-9.2.0.jar
!/injectable/tools/deps/kotlin-stdlib-2.2.0.jar
!/injectable/tools/deps/gson-2.11.0.jar
!/injectable/tools/deps/log4j-api-2.24.2.jar
!/injectable/tools/deps/log4j-core-2.24.2.jar
!/injectable/tools/deps/json-20231013.jar
!/injectable/tools/deps/NOTICE-proguard.txt
!/injectable/tools/deps/nlohmann-json-3.11.3/
!/injectable/tools/deps/nlohmann-json-3.11.3/single_include/
!/injectable/tools/deps/nlohmann-json-3.11.3/single_include/nlohmann/
!/injectable/tools/deps/nlohmann-json-3.11.3/single_include/nlohmann/json.hpp
!legacy/forge-1.8.9/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
